.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;

  background: rgb(47, 69, 129);
  background: linear-gradient(
    90deg,
    rgba(47, 69, 129, 1) 0%,
    rgba(42, 73, 161, 1) 100%
  );
}

/*--------


-----------

------

---------

--------- nav section
------

---------
------

-------------- */

.nav-section {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;

  transition: 300ms;
  z-index: 3;
}

.nav-section-bg {
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-main {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo h4 {
  font-size: 20px;
  color: white;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  transition: 300ms;
  font-family: "Open Sans", sans-serif;
}

.nav-list-color {
  color: black;
  transition: 300ms;
}

.home,
.about,
.library,
.program,
.contact,
.feedback {
  margin-right: 40px;
  font-weight: 900;

  font-size: 0.95rem;
  cursor: pointer;
  transition: 300ms;
  letter-spacing: 0.2;
}
.home:hover,
.about:hover,
.library:hover,
.program:hover,
.contact:hover,
.feedback:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: rgb(105, 105, 255);
  transition: 200ms;
}

.donate {
  font-weight: 600;
  background-color: rgb(31, 31, 159);
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.donate:hover {
  background-color: rgb(26, 26, 108);
  transition: 200ms;
}

.hamburgar {
  display: none;
}

.nav-section-version {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;

  z-index: 3;
  background-color: rgb(255, 255, 255);
  transition: 300ms;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-list-version {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;

  transition: 300ms;
  font-family: "Open Sans", sans-serif;
}
/*--------


-----------

------

---------

--------- bg-section
------

---------
------

-------------- */

.bg-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(131, 131, 131);
  background-image: url("../src/img/bg2-medium.jpg");

  width: 100dvw;
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /****use in mobile view*/
  /* background-position: -350px 0px; */
  /* padding-top: 250px;
  padding-bottom: 250px; */

  /****use in desktop view*/
  /* background-position: 0px -200px; */
  background-blend-mode: multiply;
  background-position: 0px -120px;
}

.bg-border {
  width: 90%;
}

.bg-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-main h4 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  /* text-decoration: underline;
  text-underline-offset: 1rem; */
  font-family: "Playfair Display", serif;
  text-shadow: 2px 10px 7px #080808;
}

.bg-main p {
  color: #ffffff;
  font-size: 1.3rem;
  max-width: 900px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 4px 7px #080808;
}

.bg-main button {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 1.3rem;
  transition: 300ms;
  cursor: pointer;
  z-index: 0;
}

.bg-main button:hover {
  background-color: white;
  color: black;
  transition: 300ms;
}

.arrow-down {
  color: #ffffff;
  font-size: 2.2rem;
  position: absolute;
  bottom: 30px;
}

/*--------


-----------

------

---------

--------- provide section
------

---------
------

-------------- */

.provide-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.provide-border {
  width: 75%;
  height: auto;
}
.provide-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pv-text-gp {
  display: flex;
  flex-direction: column;
}

.pv-text-gp h4 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin: 0px;
  margin-bottom: 20px;
}

.pv-text-gp p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  max-width: 70%;
  font-weight: 200;
  line-height: 2rem;
  font-size: 1rem;
}

.pv-btn-div {
  margin-left: -5px;
  margin-top: 30px;
}

.example_f {
  border-radius: 4px;
  background-color: #252525;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 150px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}

.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

.example_f span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.example_f:hover span {
  padding-right: 25px;
}

.example_f:hover span:after {
  opacity: 1;
  right: 0;
}

.provide-img img {
  max-width: 500px;
  /* border: 7px solid #2f4581; */
  border-radius: 5px;

  box-shadow: rgba(255, 255, 255, 0.4) 14px 14px;
}

/*--------


-----------

------

---------

--------- Event section
------

---------
------

-------------- */

.event-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding-top: 100px;
  padding-bottom: 100px;
}

.event-text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.event-title {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 2.4rem;
}

.event-border {
  width: 90%;
}

.event-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

/* event-one */

.event-one {
  display: flex;
  flex-direction: column;
  background: rgb(47, 69, 129);
  background: linear-gradient(
    90deg,
    rgba(47, 69, 129, 1) 0%,
    rgba(42, 73, 161, 1) 100%
  );
  justify-content: center;
  align-items: center;
}

.eOne-img {
  max-width: 400px;
  height: 300px;
  width: 100%;

  object-fit: cover;
}

.eOne-text {
  max-width: 400px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eOne-text h4 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 7 00;
  font-size: 1.45rem;
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.eOne-text p {
  width: 85%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 25px;
  text-align: center;
}

/* event-two */

.event-two {
  display: flex;
  flex-direction: column-reverse;
  background: rgb(47, 69, 129);
  background: linear-gradient(
    90deg,
    rgba(47, 69, 129, 1) 0%,
    rgba(42, 73, 161, 1) 100%
  );
  justify-content: center;
  align-items: center;
}

.eTwo-text {
  max-width: 400px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eTwo-img {
  max-width: 400px;
  height: 300px;
  width: 100%;

  object-fit: cover;
}

.eTwo-text h4 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 7 00;
  font-size: 1.45rem;
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.eTwo-text p {
  width: 85%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 25px;
  text-align: center;
}

/* event-three */

.event-three {
  display: flex;
  flex-direction: column;
  background: rgb(47, 69, 129);
  background: linear-gradient(
    90deg,
    rgba(47, 69, 129, 1) 0%,
    rgba(42, 73, 161, 1) 100%
  );
  justify-content: center;
  align-items: center;
}

.eThree-text {
  max-width: 400px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eThree-img {
  max-width: 400px;
  height: 300px;
  width: 100%;

  object-fit: cover;
}

.eThree-text h4 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 7 00;
  font-size: 1.45rem;
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.eThree-text p {
  width: 85%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 25px;
  text-align: center;
}

/*--------


-----------

------

---------

--------- feedback-section
------

---------
------

-------------- */

.feedback-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimontal {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.feedback-title {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 2.4rem;
}

.feedback-border {
  width: 100%;
}

.feedback-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testi-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #252525;
  margin: 0px 50px 0px 50px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.testi-one h4 {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  padding-left: 50px;
}

.testi-one h4 span {
  padding-left: 20px;
}
.testi-icon {
  font-size: 2rem;
}

.testi-one p {
  padding: 0px 50px 0px 50px;
  color: #c3c3c3;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.feedback-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 100px;
}

/********************************************** About page ************
******************************************************************************************************************/
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.about-border {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.about-main {
  position: relative;
  background-image: url("../src/img/bg2-medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: 0px -330px;
  background-color: rgb(148, 163, 197);

  background-blend-mode: multiply;
  /* border: 7px solid rgb(89, 125, 189); */

  /* box-shadow: rgb(89, 125, 189) 14px 14px; */
  border-radius: 5px;
}

.about-main h4 {
  position: absolute;
  right: 200px;
  top: 180px;

  color: #ffffff;
  font-size: 4rem;
  margin: 0px;
  /* text-decoration: underline;
  text-underline-offset: 1rem; */
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 7px 7px #080808;
}

/*--------


-----------

------

---------

--------- about-story-section
------

---------
------

-------------- */

.about-story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.about-story-border {
  width: 95%;
  height: auto;
}

.about-story-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-story-img {
  max-width: 600px;
}

.about-story-img img {
  width: 100%;
  border-radius: 5px;

  box-shadow: rgba(255, 255, 255, 0.4) 14px 14px;
}

.about-story-text {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.about-story-text h4 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin: 0px;
  margin-bottom: 20px;
}

.about-story-text p {
  max-width: 450px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 2rem;
  font-size: 0.9rem;
}

/*--------


-----------

------

---------

--------- about-vision-section
------

---------
------

-------------- */

.about-vision-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding: 100px 0px 100px 0px;
  border-bottom: 2px solid rgb(144, 144, 144, 0.1);
}

.about-vision-title {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 2.4rem;
}

.about-vision-border {
  width: 90%;
  height: auto;
}

.about-vision-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vision-one,
.vision-two,
.vision-three {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  text-align: center;
  align-items: center;
}
.vision-icon-one,
.vision-icon-two,
.vision-icon-three {
  color: rgb(105, 105, 255);
  font-size: 3rem;
}

.vision-one-title,
.vision-two-title,
.vision-three-title {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 20px 0px 10px 0px;
}

.vision-bar {
  height: 5px;
  width: 50px;
  background-color: rgb(105, 105, 255);
}

.vision-text-one,
.vision-text-two,
.vision-text-three {
  color: rgb(144, 144, 144);
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .nav-section {
    background-color: #ffffff;
  }

  .nav-logo h4 {
    color: #252525;
  }

  .nav-list {
    display: none;
  }

  .nav-list-version {
    display: none;
  }

  .hamburgar {
    display: block;
  }

  .bg-section {
    width: 100%;
    height: unset;
    background-position: -190px 0px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-attachment: unset;
  }
  .bg-border {
    width: 95%;
  }

  .bg-main h4 {
    font-size: 1.9rem;
    text-shadow: 1px 1px 5px #080808;
  }

  .bg-main p {
    font-size: 1rem;
    text-align: center;
  }

  .bg-main button {
    margin-top: 40px;
  }
  /*--------


-----------

------

---------

--------- provide section
------

---------
------

-------------- */

  .provide-border {
    width: 90%;
  }

  .provide-main {
    flex-direction: column;
  }

  .pv-text-gp {
    align-items: center;
  }

  .pv-text-gp p {
    max-width: 100%;
    text-align: center;
  }

  .pv-btn-div {
    margin-bottom: 70px;
  }

  .provide-img img {
    max-width: 300px;
  }
  /*--------


-----------

------

---------

--------- Event section
------

---------
------

-------------- */

  .event-main {
    flex-direction: column;
  }

  .event-two {
    flex-direction: column;
  }

  /*--------


-----------

------

---------

--------- feedback-section
------

---------
------

-------------- */

  .feedback-main {
    flex-direction: column;
  }

  .testi-one {
    margin: 30px;
  }

  .testi-one p {
    padding: 0px 24px 0px 24px;
  }

  .feedback-btn {
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
  }
  /********************************************** About page ************
******************************************************************************************************************/
  /*--------


-----------

------

---------

--------- about-section
------

---------
------

-------------- */

  .about-main {
    background-position: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-main h4 {
    font-size: 2.2rem;
    right: unset;
    top: unset;
    left: unset;
    text-align: center;
  }
  /*--------


-----------

------

---------

--------- about-story-section
------

---------
------

-------------- */
  .about-story-section {
    padding-top: 0px;
  }

  .about-story-main {
    flex-direction: column-reverse;
  }

  .about-story-text {
    padding-left: 0px;
    text-align: center;
  }
  .about-story-text p {
    line-height: 1.5rem;
  }
  .about-story-img {
    padding-top: 50px;
    max-width: 320px;
  }
  /*--------


-----------

------

---------

--------- about-vision-section
------

---------
------

-------------- */

  .about-vision-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vision-two,
  .vision-three {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .nav-section {
    background-color: #ffffff;
  }

  .nav-logo h4 {
    color: #252525;
  }

  .nav-list {
    display: none;
  }

  .nav-list-version {
    display: none;
  }
  .hamburgar {
    display: block;
  }
  .bg-section {
    width: 100%;
    height: unset;
    background-position: -140px 0px;
    padding-top: 350px;
    padding-bottom: 350px;
    background-attachment: unset;
  }
  .bg-border {
    width: 95%;
  }
  .bg-main h4 {
    font-size: 3rem;
    text-shadow: 1px 1px 5px #080808;
  }
  .bg-main p {
    font-size: 1.3rem;
    text-align: center;
  }
  .bg-main button {
    margin-top: 20px;
  }
  /*--------


-----------

------

---------

--------- provide section
------

---------
------

-------------- */

  .provide-border {
    width: 90%;
  }
  .provide-main {
    flex-direction: column;
  }
  .pv-text-gp {
    align-items: center;
  }
  .pv-text-gp p {
    max-width: 100%;
    text-align: center;
  }
  .pv-btn-div {
    margin-bottom: 70px;
  }
  /*--------


-----------

------

---------

--------- Event section
------

---------
------

-------------- */

  .event-main {
    flex-direction: column;
  }

  .event-two {
    flex-direction: column;
  }

  .eOne-img,
  .eOne-text,
  .eTwo-img,
  .eTwo-text,
  .eThree-text,
  .eThree-img {
    max-width: 600px;
  }

  .eOne-text h4,
  .eTwo-text h4,
  .eThree-text h4 {
    font-size: 2rem;
  }

  .eOne-text p,
  .eTwo-text p,
  .eThree-text p {
    font-size: 1.1rem;
  }
  .feedback-main {
    flex-direction: column;
  }
  .testi-one {
    margin: 30px 100px 20px 100px;
  }

  /********************************************** About page ************
******************************************************************************************************************/
  /*--------


-----------

------

---------

--------- about-section
------

---------
------

-------------- */

  .about-main {
    background-position: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-main h4 {
    font-size: 2.2rem;
    right: unset;
    top: unset;
    left: unset;
    text-align: center;
  }
  /*--------


-----------

------

---------

--------- about-story-section
------

---------
------

-------------- */
  .about-story-section {
    padding-top: 0px;
  }

  .about-story-main {
    flex-direction: column-reverse;
  }

  .about-story-text {
    padding-left: 0px;
  }

  .about-story-text p {
    max-width: 500px;
  }

  .about-story-img {
    padding-top: 50px;
    max-width: 520px;
  }
  /*--------


-----------

------

---------

--------- about-vision-section
------

---------
------

-------------- */

  .about-vision-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vision-two,
  .vision-three {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 845px) and (min-width: 769px) {
  .nav-section {
    background-color: #ffffff;
  }

  .nav-logo h4 {
    color: #252525;
  }

  .nav-list {
    display: none;
  }

  .nav-list-version {
    display: none;
  }
  .hamburgar {
    display: block;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .bg-section {
    width: 100dvw;
    height: 100dvh;
    background-position: -140px 0px;

    background-attachment: fixed;
  }
  /*--------


-----------

------

---------

--------- provide section
------

---------
------

-------------- */
  .provide-border {
    width: 90%;
  }
  .pv-text-gp p {
    max-width: 90%;
  }
  .provide-img img {
    max-width: 400px;
    /* border: 7px solid #2f4581; */
  }
  /*--------


-----------

------

---------

--------- feedback-section
------

---------
------

-------------- */
  .testi-one {
    margin: 0px 5px 0px 5px;
  }
  .testi-one p {
    font-size: 0.9rem;
    padding: 0px 15px 0px 15px;
  }

  /********************************************** About page ************
******************************************************************************************************************/
  /*--------


-----------

------

---------

--------- about-section
------

---------
------

-------------- */

  .about-main {
    background-position: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-story-border {
    width: 95%;
  }
  .about-story-img {
    max-width: 300px;
  }

  .about-story-text {
    padding-left: 50px;
  }
  .about-story-text p {
    max-width: 400px;
    line-height: 1.5rem;
  }

  .about-vision-border {
    width: 95%;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 992px) {
  .bg-section {
    background-position: unset;
  }
}
